// Tipography
$font-family-sans-serif:  'Heebo', sans-serif;

// Colors
$primary: #733FC8;
$secondary:#EDF2F8;
$success: #49556B ;
$dark:#18202D ;

// Containers width
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px
);

// Medias query
@media (min-width: 992px) { 
    .alto100{
        height: 100vh;
    }
 }
 .d-flex img{
    width: 50px;
 }
 .fondo-card{
    background-image: url('../images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 85% top;
 }

@import "../node_modules/bootstrap/scss/bootstrap";
